/* ==============================
           SUMMER 2026
   ============================== */


/* LANDING PAGE */

.cl-hero .cl-hero-proper .transparent{
    background: #fafafa;
}


/* KENDALL MOORE */

.breakout.block#kendallmoore{
    background: #000;
}

.cl-quote#kendallmoore{
    border-top: 1px solid #eb1a29;
    border-bottom: 1px solid #eb1a29;
}

.kmoore-separator{
    height: 0px;
    background: none;
    border: none;
    border-top: 2px solid #da1c23;
    margin-top: 0;
}